@font-face {
    font-family: Lato; 
    src: url(/src/fonts/Lato-regular.ttf); 
}
@font-face {
    font-family: Lato-bold; 
    src: url(/src/fonts/Lato-bold.ttf); 
}
@font-face {
    font-family: Lato-italic; 
    src: url(/src/fonts/Lato-italic.ttf); 
}

@font-face {
    font-family: Montserrat-Bold; 
    src: url(/src/fonts/11951.ttf); 
}
@font-face {
    font-family: Montserrat-Light; 
    src: url(/src/fonts/Montserrat-Light.otf); 
}
@font-face {
    font-family: Montserrat-Regular; 
    src: url(/src/fonts/Montserrat-Regular.otf); 
}